h2{
  border: 1px solid;
  border-radius: 10px;
  background-color: #7A52C1;
  padding: 5px;
  color: #ffff;
}
h3{
  color: #7A52C1;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: #7A52C1;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #f7f7f7;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

